# Host port for Kong proxy (host port mapping in docker-compose.yml)
KONG_PORT=8000

# Host port for Kong proxy (Kong internal config)
KONG_PROXY_PORT=8000

# Host port for Kong Admin API
KONG_ADMIN_PORT=8001

# Database mode
KONG_DATABASE=off

